@import "bourbon";
@import "neat";
@import "base/base";

header {
  @include grid-container;
  h1 {
    @include grid-column(8);
    font-size: modular-scale(3);
  }
  nav {
    @include grid-column(4);
  }
}

main {
  @include grid-container;
  .row {
    @include grid-column(12);
  }
}

.idnum {
  color: #CCC;
}
