
<div class="row">
  <div class="col-lg-6">
    <h4>Pages</h4>
    <ul>
      <li>
        <a href="/lights">Lights List</a>
      </li>
      <li>
        <a href="/louvres">Louvres List</a>
      </li>
      <li>
        <a href="/panels">Panels List</a>
      </li>
    </ul>
  </div>
</div>
