<div class="row">

  <h2>Lights</h2>

  <div class="lights-lastupdated"></div>

  <table>
    <thead>
      <tr>
        <th>Light</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody class="lights-areas">
    </tbody>
  </table>

  <div><button class="lights-list">Reload</button></div>

</div>
