<div class="row">

  <h2>Louvres</h2>

  <div class="louvres"></div>

  <table>
    <thead>
    <tr>
      <th>Louvre</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody class="louvres-areas">
    </tbody>
  </table>

  <div><button class="louvres-list">Reload</button></div>

</div>
