<div class="row">

  <h2>Panels</h2>

  <div class="panels-lastupdated"></div>

  <table>
    <thead>
      <tr>
        <th>Panel</th>
        <th>Temperature</th>
        <th>Light</th>
      </tr>
    </thead>
    <tbody class="panels-boxes">
    </tbody>
  </table>

  <div><button class="panels-list">Reload</button></div>

</div>
